<div :class="get_bg_text('status-center')">
  <h3 class="text-center">Status</h3>
  <div class="d-flex py-4 align-items-center">
    <span>{{new Date(storage.swapStart * 1000).toLocaleString()}}</span>
    <b-progress
      class="mx-3 flex-fill" :value="advanceTimestamp" :max="100" show-progress animated>
    </b-progress>
    <span>{{new Date(storage.swapEnd * 1000).toLocaleString()}}</span>
  </div>

  <!-- <div> -->
  <!--   <\!-- <v-dun precision="3" :amount="0"></v-dun> -\-> -->
  <!--   <span>0</span> -->
  <!--   <b-progress :value="advanceAmount" :max="100" show-progress animated></b-progress> -->
  <!--   <v-dun precision="3" :amount="storage.totalExchangeable"></v-dun> -->
  <!-- </div> -->

  <div class="d-flex align-items-center justify-content-around">
    <!-- <div style="width:250px" class="d-flex flex-column text-center status-stats border border-info"> -->
    <!--   <div class="pb-1" style="font-size: 28px"> -->
    <!--     <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16"> -->
    <!--       <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/> -->
    <!--     </svg> -->
    <!--   </div> -->
    <!--   <div class="d-flex align-self-center"> -->
    <!--     <span style="font-size: 22px">{{storage.swapCounter}}</span> -->
    <!--     <span class="ml-1" style="font-size: 22px">swaps</span> -->
    <!--   </div> -->
    <!-- </div> -->

    <div style="width:250px" class="d-flex flex-column text-center status-stats border border-info">
      <div class="pb-1" style="font-size: 28px">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16">
          <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
          <path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z"/>
        </svg>
      </div>
      <div class="d-flex align-self-center">
        <v-dun style="font-size: 22px" precision="3" :amount="storage.swapped"></v-dun>
        <span class="ml-1" style="font-size: 22px">swapped</span>
      </div>
    </div>
  </div>

  <div class="d-flex pt-4">

    <b-button
      class="flex-fill mx-1"
      pill
      @click="set_path('deposit')"
      variant="primary"
      size="lg">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
        <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
      </svg>
      <span class="pl-3">Make a deposit</span>
    </b-button>

    <b-button
      pill
      class="flex-fill mx-1"
      @click="set_path('swaps')"
      variant="info"
      size="lg">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
      </svg>
      <span class="pl-3">See your swaps</span>
    </b-button>


  </div>
</div>
